$primary-bg-color: #f8f8f8;
$primary-font-color: #1b1b1b;
$primary-border-color: rgba(113, 113, 113, 0.216);
$primary-border: 1px solid $primary-border-color;
$primary-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

$split-33: 33.33333333333333%;
