@font-face {
    font-family: 'fontLight';
    src: url('../fonts/Signika-Light.ttf');
}

@font-face {
    font-family: 'fontRegular';
    src: url('../fonts/Signika-Regular.ttf');
}

@font-face {
    font-family: 'fontMedium';
    src: url('../fonts/Signika-Medium.ttf');
}

@font-face {
    font-family: 'fontSemiBold';
    src: url('../fonts/Signika-SemiBold.ttf');
}

@font-face {
    font-family: 'fontBold';
    src: url('../fonts/Signika-Bold.ttf');
}